In [156]:
%%javascript

Jupyter.keyboard_manager.command_shortcuts.add_shortcut('r', {
    help : 'run all cells',
    help_index : 'zz',
    handler : function (event) {
        IPython.notebook.execute_all_cells();
        return false;
    }}
);

In [157]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors.kde import KernelDensity
import statsmodels.api as sm
import seaborn as sns
import loess
import random
import os
from patsy import dmatrices
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [158]:
#Import main WNV data
path_data="/Users/sparshagarwal/Downloads/WNV_challenge/neurownv_by_county.csv"
data=pd.read_csv(path_data)

In [159]:
#Bin labels for classification
bins={1:"[0,1)",2:"[1,6)", 3:"[6,11)", 4:"[11,16)", 5:"[16,21)", 6:"[21,26)", 7:"[26,31)", 8:"[31,36)", 9:"[36,41)", 10:"[41,46)", 11:"[46,51)", 12:"[51,101)", 13:"[101,151)", 14:"[151,201)", 15:"[201,1000)"}

In [160]:
#Assigning bin labels to instances
bin_assign=[]
bin_values=list(bins.values())
for i in range(len(data)):
    for j in range(len(bin_values)):
        bi=bin_values[j]
        bi_last=int(bi[:-1].split(",")[1])
        if(df.iloc[i]["count"]<bi_last):
            bin_assign.append(j+1)
            break
data["bin"]=bin_assign

In [161]:
# # Path to the file with WNV data used to classify urban and rural counties
# wnv_file_path= "/Users/sparshagarwal/Downloads/WMV_data/Arbovirus_risk_modeling_US/WNV_human_cases/WNV_NI_NNI_1999to2015_prevalence_incidence_final_20180530.csv"

In [162]:
# #Adding county type column to main dataframe
# data_old=pd.read_csv(wnv_file_path, encoding='latin-1')
# county_name=list(map(lambda x:x.split(" ")[0],list(data_old["CTYNAME"])))
# temp_df=pd.DataFrame()
# temp_df["county_type"]=list(data_old["Select_County"])
# temp_df["county"]=county_name
# temp_df["state"]=list(data_old["STNAME"])

In [163]:
# df_mod = pd.merge(data, temp_df,  how='inner', left_on=['county','state'], right_on = ['county','state'])
# #df_mod = pd.merge(data, df_mod,  how='left', left_on=['fips','county','state'], right_on = ['fips','county','state'])

In [164]:
data

        fips   county    state         location  year  count  bin
0      01001  Autauga  Alabama  Alabama-Autauga  2000      0    1
1      01001  Autauga  Alabama  Alabama-Autauga  2001      0    1
2      01001  Autauga  Alabama  Alabama-Autauga  2002      1    2
3      01001  Autauga  Alabama  Alabama-Autauga  2003      0    1
4      01001  Autauga  Alabama  Alabama-Autauga  2004      0    1
...      ...      ...      ...              ...   ...    ...  ...
59047  56045   Weston  Wyoming   Wyoming-Weston  2014      0    1
59048  56045   Weston  Wyoming   Wyoming-Weston  2015      0    1
59049  56045   Weston  Wyoming   Wyoming-Weston  2016      0    1
59050  56045   Weston  Wyoming   Wyoming-Weston  2017      0    1
59051  56045   Weston  Wyoming   Wyoming-Weston  2018      0    1

[59052 rows x 7 columns]

In [167]:
#Dataframe for bins and labels
bin_df=pd.DataFrame()
bin_df["Class"]=bins.keys()
bin_df["Bin"]=bins.values()
bin_df

    Class         Bin
0       1       [0,1)
1       2       [1,6)
2       3      [6,11)
3       4     [11,16)
4       5     [16,21)
5       6     [21,26)
6       7     [26,31)
7       8     [31,36)
8       9     [36,41)
9      10     [41,46)
10     11     [46,51)
11     12    [51,101)
12     13   [101,151)
13     14   [151,201)
14     15  [201,1000)

In [168]:
data.to_csv("/Users/sparshagarwal/Desktop/NCSA/Dataframes/WNV_challenge.csv", index=False)